<app-navbar /><!-- portafoglio.component.html -->
<div class="p-grid p-justify-center">
    <div class="p-col-12 p-md-8 p-lg-6" style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;">
        <p-card header="Nuovo Wallet" styleClass="p-mb-3" [ngStyle]="{'width':'40%', 'text-align': 'center', 'min-width': '300px', 'margin-bottom':'20px'}">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" class="p-fluid">
                <div class="p-field p-grid">
                    <div class="p-col" >
                        
                        <p-dropdown id="crypto" [style]="{'margin-bottom': '5px'}" [options]="crypto" formControlName="crypto" optionLabel="name"
                            placeholder="Seleziona una criptovaluta" [showClear]="true" filter="true"  >
                        </p-dropdown>
                        <p-message *ngIf="form.controls['crypto'].invalid && form.controls['crypto'].touched"
                            severity="error" text="La criptovaluta è obbligatoria"></p-message>
                        
                        <div class="flex flex-column sm:flex-row gap-2" style="margin-bottom: 5px; margin-top: 20px;" >
                            <input style="width: 100%;" pInputText formControlName="label" placeholder="Nome del portafoglio..." />
                        </div>
                        <p-message severity="error" *ngIf="form.controls['label'].invalid && form.controls['label'].dirty" text="Scegli un nome valido" />
                        
                    </div>
                </div>
                <div class="p-field">
                    <button pButton type="submit" label="Crea Wallet" [disabled]="form.invalid" size ="small"></button>
                </div>
            </form>
        </p-card>
    </div>
</div>