/* crypto-wallet-form.component.css */
.p-card {
    margin-top: 2rem;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  
  button {
    margin-top: 1rem;
  }

  p-dropdown {
    margin-left: 10px;
    width: 100%;
  }