<app-navbar />
<p-card class="card" header="Info complete sui tuoi portafogli">
    <p-table [value]="listaPortafogli" [tableStyle]="{ 'min-width': '50rem' }" [responsiveLayout]="'scroll'"
        class="p-table">
        <ng-template pTemplate="header">
            <tr>
                <th><strong style="color: #FFD54F;">Indirizzo</strong></th>
                <th><strong style="color: #FFD54F;">Saldo</strong></th>
                <th><strong style="color: #FFD54F;">Creazione</strong></th>
                <th><strong style="color: #FFD54F;">Scadenza</strong></th>
                <th><strong style="color: #FFD54F;">Simbolo</strong></th>
                <th><strong style="color: #FFD54F;">QrCode</strong></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-portafoglio>
            <tr>
                <td>
                    {{ portafoglio.indirizzo }}
                </td>
                <td>{{ portafoglio.saldo }}</td>
                <td>{{ portafoglio.creazione }}</td>
                <td>{{ portafoglio.scadenza }}</td>
                <td>{{ portafoglio.simbolo }}</td>
                <td>{{ portafoglio.qrCode }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>