<app-navbar />
<app-loading [loading]="loading" />
<p-card header="Nuovo Invoice" *ngIf="!loading">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="flex flex-column sm:flex-row gap-2">
      <input pInputText formControlName="toEmail" placeholder="Email destinatario..." />
      <p-message *ngIf="form.controls.toEmail.invalid && form.controls.toEmail.dirty" severity="error"
        text="L'email deve essere valida" />
    </div>
    <div class="flex flex-column sm:flex-row gap-2 mt-2">
      <input type="text" formControlName="descrizione" pInputText name="descrizione" placeholder="Descrizione..." />
      <p-message *ngIf="form.controls.descrizione.invalid && form.controls.descrizione.dirty" severity="error"
        text="Aggiungi una descrizione" />
    </div>
    <div class="flex flex-column sm:flex-row gap-2 mt-2">
      <input type="number" formControlName="amount" pInputText name="amount" placeholder="Importo (in dollari)..." />
      <p-message *ngIf="form.controls.descrizione.invalid && form.controls.descrizione.dirty" severity="error"
        text="Inserisci un importo maggiore di 1" />
    </div>
    <div class="mt-2">
      <p-dropdown [options]="crypto" optionLabel="simbolo" formControlName="simbolo" placeholder="Scegli una crypto"/>
    </div>

    <div class="mt-2">
      <p-button type="submit" severity="primary" [disabled]="!form.valid" [raised]="true" size="small"
        label="Crea invoice" icon="pi pi-send" />
    </div>
  </form>
</p-card>