<app-navbar />
<p-card header="Registrazione">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="flex flex-column sm:flex-row gap-2">
            <input pInputText formControlName="nome" placeholder="Nome..." />
            <p-message severity="error" *ngIf="form.controls.nome.invalid && form.controls.nome.dirty"
                text="Il nome deve essere valido" />
        </div>
        <div class="flex flex-column sm:flex-row gap-2 mt-2">
            <input type="text" formControlName="cognome" pInputText placeholder="Cognome..." />
            <p-message severity="error" *ngIf="form.controls.cognome.invalid && form.controls.cognome.dirty"
                text="Il cognome deve essere valido" />
        </div>
        <div class="flex flex-column sm:flex-row gap-2 mt-2">
            <input pInputText formControlName="email" placeholder="Email..." />
            <p-message severity="error" *ngIf="form.controls.email.invalid && form.controls.email.dirty"
                text="L'email deve essere valida" />
        </div>
        <div class="flex flex-column sm:flex-row gap-2 mt-2">
            <input type="password" formControlName="password" pInputText placeholder="Password..." />
            <p-message severity="error" *ngIf="form.controls.password.invalid && form.controls.password.dirty"
                text="Min: 8. Max: 32. a-zA-Z0-9@#&%^$?=" />
        </div>
        <div class="flex flex-column gap-2 mt-2">
            <p-selectButton formControlName="tipologia" [options]="stateOptions" optionLabel="label" optionValue="value" />
            <p-button type="submit" severity="primary" [disabled]="!form.valid" [raised]="true" size="small"
                label="Registrati" icon="pi pi-send" />

        </div>

    </form>
</p-card>