<div class="mb-4">
    <p-menubar *ngIf="isAuthenticated()" [model]="items"  [style]="{'border-radius': '0px', 'border-width': '0px'}" >
        <ng-template pTemplate="start" >
            <a routerLink="/home" class="flex align-items-center justify-content-center" style="text-decoration: none">
                <img src="/favicon.ico" alt="Escram" style="width: 60px;" />
                <span class="ml-4" style="color: gray; font-size: x-large; "><strong>Escram</strong></span>
            </a>
        </ng-template>
        <ng-template pTemplate="end" >
            <a class="flex">
                <p-button [label]="getName()" icon="pi pi-user" severity="contrast" size="small" class="mr-2" [badge]="getNumeroNotifiche()" routerLink="/notifiche"/>
                <p-button label="Logout" icon="pi pi-sign-out" size="small" (onClick)="showDialog()"  />
            </a>
        </ng-template>
    </p-menubar>  

    <p-menubar *ngIf="!isAuthenticated()">
        <ng-template pTemplate="start">
            <a routerLink="/" class="flex align-items-center justify-content-center" style="text-decoration: none;">
                <img src="/favicon.ico" alt="Escram" style="width: 60px;" />
                <span class="ml-4" style="color: gray; font-size: x-large; "><strong>Escram</strong></span>
            </a>
        </ng-template>
        
        <ng-template pTemplate="end">
            <a routerLink="/loginEscram">
                <p-button label="Login" icon="pi pi-sign-in"  />
            </a>
        </ng-template>
    </p-menubar>    
</div>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                Logout
            </span>
            <p class="mb-0">Vuoi eseguire il logout?</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Conferma" 
                    (click)="logout()"
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="Annulla" 
                    (click)="showDialog()"
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>