.full-height {
  height: 100vh; /* Imposta l'altezza a schermo intero */
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  padding: 2rem;
  background-color: var(--surface-a); /* Usa variabile di tema per il background */
  color: var(--text-color); /* Usa variabile di tema per il colore del testo */
  box-shadow: var(--sm); /* Usa ombre del tema */
  overflow-y: auto; /* Consenti lo scorrimento verticale per il contenuto in eccesso */
  flex: 1 1 50%; /* Imposta la larghezza al 50% */
}

.p-table {
  width: 100%;
}

.p-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.table-wrapper {
  width: 100%; /* Occupy full width of the parent container */
  overflow-x: auto; /* Enable horizontal scrolling for the table */
}

.clickable {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.notClickable {
  cursor: not-allowed;
}

.clickable:hover {
  background-color: #6772d4; /* Light grey background on hover */
}

.selected {
  background-color: #5edb5c86; /* Light blue background for selected row */
}

@media (max-width: 768px) {
  /* Media query per dispositivi più piccoli */
  .p-grid {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    min-height: 50vh; /* Assicura che le sezioni abbiano un'altezza minima */
    width: 100%; /* Occupy full width on smaller screens */
  }
}
