<app-navbar />
<app-loading [loading]="loading" />
<div *ngIf="!loading" class="flex flex-column gap-4">
  <p-card header="I Tuoi portafogli">
    <h3 *ngIf="listaPortafogli.length === 0">Nessun portafoglio presente</h3>
    <div class="mt-2 grid gap-4" *ngIf="listaPortafogli.length !== 0">
      <div class="row" *ngFor="let portafoglio of listaPortafogli">
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <p-avatar [image]="portafoglio.crypto.urlImmagine" shape="circle" />
              <span class="font-bold">
                {{portafoglio.crypto.simbolo}}: {{portafoglio.saldo | currency}}
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="icons">
            <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
              <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" (onFocus)="select(portafoglio)" [popup]="true" />
          </ng-template>
          <p class="m-0">
            {{portafoglio.indirizzo}}
          </p>
        </p-panel>
      </div>
    </div>
  </p-card>

  <p-dialog [modal]="true" [(visible)]="visible" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true" [draggable]="false" header="Dettagli" *ngIf="selectedPortafoglio">
    <div class="flex flex-column gap-2">
      <p-panel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar [image]="selectedPortafoglio.crypto.urlImmagine" shape="circle" />
            <span class="font-bold">
              {{selectedPortafoglio.crypto.simbolo}}: {{selectedPortafoglio.saldo | currency}}
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p>Indirizzo: {{selectedPortafoglio.indirizzo}}</p>
          <p>Creazione: {{selectedPortafoglio.creazione | date}}</p>
          <p>Scadenza: {{selectedPortafoglio.scadenza| date}}</p>
          <p>Transazioni: {{selectedPortafoglio.transazioni.length}}</p>
          <p>Withdraws: {{selectedPortafoglio.richiesteWithdraw.length}}</p>
          <p>
            <img [src]="selectedPortafoglio.qrCode" width="150px">
          </p>
        </ng-template>
      </p-panel>
      <p-panel header="Depositi/prelievi" *ngIf="selectedPortafoglio.transazioni.length > 0">
        <p-table [value]="selectedPortafoglio.transazioni" [tableStyle]="{ 'min-width': '50rem' }"
          [responsiveLayout]="'scroll'" class="p-table">
          <ng-template pTemplate="header">
            <tr>
              <th><strong style="color: #FFD54F;">Simbolo</strong></th>
              <th><strong style="color: #FFD54F;">Indirizzo</strong></th>
              <th><strong style="color: #FFD54F;">Saldo</strong></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transazione>
            <tr>
              <td>{{ transazione.txId }}</td>
              <td>{{ transazione.amount }}</td>
              <td>{{ transazione.date | date }}</td>
              <td>{{ transazione.fees | currency }}</td>
              <td>{{ transazione.tipo }}</td>
              <td>{{ transazione.toAddress }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </p-dialog>
</div>