<app-navbar />
<div class="p-d-flex p-flex-wrap p-jc-center card-container">
  <div class="p-d-flex p-flex-column p-ai-center p-mt-4">
    <p-selectButton [options]="cryptocurrencies" [(ngModel)]="selectedCrypto" optionLabel="label">
      <ng-template let-crypto pTemplate="crypto">
        <div class="crypto-option">
          <img [src]="crypto.urlImmagine" class="crypto-icon" />
          <span class="crypto-label">{{crypto.simbolo}}</span>
        </div>
      </ng-template>
    </p-selectButton>
    <p class="p-mt-3">
    </p>
  </div>

  <!-- Carta info delle cripto -->
  <p-card *ngIf="selectedCrypto !== null" class="card">
    <div class="crypto-header-title">
      <h3>
        Info su: <strong>{{selectedCrypto.simbolo}} ({{selectedCrypto.nome}}) </strong>
      </h3>
      <img [src]="selectedCrypto.urlImmagine" class="crypto-icon" />
    </div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sint veniam nulla iste temporibus ab, optio
      tempore. Molestiae explicabo nobis culpa doloribus suscipit omnis, nesciunt libero ratione delectus? Ex, deleniti.
    </p>
  </p-card>

  <!-- Carta dei Portafogli -->
  <p-card class="card" header="I Tuoi portafogli" subheader="Visualizza o crea i tuoi portafogli">
    <p-accordion [activeIndex]="0">
      <p-accordionTab *ngFor="let portafoglio of listaPortafogli" [header]="portafoglio.simbolo">
        <div class="m-0">
          <ul>
            <li>Saldo: {{ portafoglio.saldo }}</li>
            <li>Creazione: {{ portafoglio.creazione | date: 'medium' }}</li>
            <li *ngIf="portafoglio.qrCode">
              <img [src]="portafoglio.qrCode" alt="QR Code" style="width: 100px; height: 100px" />
            </li>
          </ul>
        </div>
      </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
      <a class="flex">
        <p-button label = "Crea nuovo portafoglio" class="mr-2" routerLink="/nuovoPortafoglio"/>
        <p-button label="Visualizza info complete suoi tuoi portafogli" routerLink="/listaPortafogli"  />
    </a>
    </ng-template>
  </p-card>

  <!-- Carta delle Transazioni -->
  <p-card class="card" header="Le tue transazioni" subheader="Qui sono mostrate le tue transazioni">
    <p-table [value]="listaTransazioni" [tableStyle]="{ 'min-width': '50rem' }" [responsiveLayout]="'scroll'"
      class="p-table">
      <ng-template pTemplate="header">
        <tr>
          <th><strong style="color: #FFD54F;">Id</strong></th>
          <th><strong style="color: #FFD54F;">Ammontare</strong></th>
          <th><strong style="color: #FFD54F;">Data</strong></th>
          <th><strong style="color: #FFD54F;">Fees</strong></th>
          <th><strong style="color: #FFD54F;">Tipo</strong></th>
          <th><strong style="color: #FFD54F;">Indirizzo portafoglio</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transazione>
        <tr>
          <td>
            {{ transazione.id }}
          </td>
          <td>
            {{ transazione.ammontare }}
          </td>
          <td>
            {{ transazione.data }}
          </td>
          <td>
            {{ transazione.fees }}
          </td>
          <td>
            {{ transazione.tipo }}
          </td>
          <td>
            {{ transazione.toAddress }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>