<app-navbar />
<div style="display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;">
<p-card header="Login" [ngStyle]="{'width':'40%', 'text-align': 'center', 'min-width': '300px', 'margin-bottom':'20px'}">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)" >
        <div class="flex flex-column sm:flex-row gap-2" style="margin-bottom: 2%;" >
            <input style="width: 100%;" pInputText formControlName="email" placeholder="Email..." />
        </div>
         <p-message severity="error" *ngIf="form.controls.email.invalid && form.controls.email.dirty" text="L'email deve essere valida" />
        
        <div class="flex flex-column sm:flex-row gap-2 mt-2" style="margin-bottom: 2%;">
            <input style="width: 100%;" type="password" formControlName="password" pInputText  name="password" placeholder="Password..."/>
        </div>
        <p-message severity="error" *ngIf="form.controls.password.invalid && form.controls.password.dirty" text="Min: 7. Max: 32. a-zA-Z0-9@#&%^$?=" />

        <br>
        <div class="mt-2" >
            <p-button  type="submit"  severity="primary" [disabled]="!form.valid" [raised]="true" size="small" label="Login" icon="pi pi-caret-right"/>
        </div>
    </form>
</p-card>
</div>