/* styles.css */

.card-container {
    padding: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* Spazio tra le carte */
}

.card {
    border-radius: 8px;
    background: var(--surface-card);
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.crypto-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .p-selectbutton .p-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .p-selectbutton .p-button .p-button-label {
    margin-left: 0.5rem;
  }
  
  .p-selectbutton .p-button .p-button-icon {
    margin-right: 0.5rem;
  }

/* Media Queries per la Responsività */
@media (min-width: 600px) {
    .card {
        max-width: 550px;
    }
}

@media (min-width: 768px) {
    .card {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .card {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .card {
        max-width: 800px;
    }
}

@media (min-width: 1440px) {
    .card {
        max-width: 900px;
    }
}